<div class="container-footer">
  <img src="images/logo.png" alt="img" />
  <div class="icons">
    <a href="https://google.com" target="”_blank”" rel="noopener"
      ><img src="images/facebook-b.png" alt="img"
    /></a>
    <a href="https://google.com" target="”_blank”" rel="noopener"
      ><img src="images/behance-b.png" alt="img"
    /></a>
    <a href="https://google.com" target="”_blank”" rel="noopener"
      ><img src="images/twitter-b.png" alt="img"
    /></a>
  </div>
  <div class="linkss">
    <h3>
      Copyrights@
      <a
        href="https://gradev-io.github.io/GradHome/"
        target="”_blank”"
        rel="noopener"
        >Gradev</a
      >
      2023
    </h3>
    <h3>
      Powered by
      <a href="https://www.cyclic.sh/" target="”_blank”" rel="noopener"
        >Cyclic</a
      >
    </h3>
  </div>
</div>
