<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Spotted</title>
  </head>
  <body>
    <div class="landing-mother-container">
      <div class="landing-container-1">
        <img class="logo" src="images/logo.png" alt="logo" />
        <h1>Moments in focus</h1>
        <div class="links">
          <a href="/">Home</a>
          <a href="homepage">Artists</a>
        </div>

        <div class="icons">
          <a href="https://google.com" target="”_blank”" rel="noopener"
            ><img src="images/behance.png" alt="img"
          /></a>
          <a href="https://google.com" target="”_blank”" rel="noopener"
            ><img src="images/facebook.png" alt="img"
          /></a>
          <a href="https://google.com" target="”_blank”" rel="noopener"
            ><img src="images/twitter.png" alt="img"
          /></a>
        </div>
        <div class="linkss">
          <h3>
            Copyrights@
            <a href="https://google.com" target="”_blank”" rel="noopener"
              >Gradev</a
            >
            2023
          </h3>
          <h3>
            Powered by
            <a href="https://google.com" target="”_blank”" rel="noopener"
              >Cyclic</a
            >
          </h3>
        </div>
      </div>
      <div class="landing-container-2">
        <div class="btns">
          <div class="button-signin">
            <a href="signin">Sign in </a>
          </div>
          <div class="button-signup">
            <a href="signup">Sign up </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
