<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div class="main-container">
      <%- include ('header.ejs') %>
      <form action="/login" method="post" class="sign">
        <input type="text" name="username" placeholder="Enter your username" />
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <button type="submit">sign in</button>
      </form>
      <%- include ('footer.ejs') %>
    </div>
  </body>
</html>
